<div class="item-card">
  <div class="item-card__image">
    <%= image_tag item.image.to_s, class: "item-card__image" %>
  </div>
  <div class="item-card__user">
    <%= item.user.nickname %>
  </div>
  <div class="item-card__down">
    ♡15
    💬<%= @comments_count %>
  </div>
</div>