<div class="item-comment-box__got-comment__each">
  <div class="item-comment-box__got-comment__each__left">
    <div class="item-comment-box__got-comment__each__left__icon"></div>
  </div>
  <div class="item-comment-box__got-comment__each__right">
    <div class="item-comment-box__got-comment__each__right__user-name"> ユーザー名 </div>
    <div class="item-comment-box__got-comment__each__right__comment"> 良きみが深い！ </div>
    <div class="item-comment-box__got-comment__each__right__down">
      <div class="item-comment-box__got-comment__each__right__down__date"> 8月24日 </div>
      <div class="item-comment-box__got-comment__each__right__down__replay"> 　返信 </div>
    </div>
  </div>
</div>