$dark-green: rgb(92, 133, 104);
$light-green: rgb(204, 224, 210);
$light-green-trans: rgba(204, 224, 210, 0.897);
$lighter-green: rgba(245, 255, 248, 0.897);
$form-border: rgb(187, 186, 186);
$wood: rgb(253, 250, 242);
$brownish-green: rgb(235, 241, 228);
$bluish-gray: rgb(184, 206, 207);

// rgb(193, 201, 202)
// rgb(243, 243, 243)